/* цвет основного текста черный #212121 */
/* цвет вторичного текста серый #757575 */
/* цвет фона белый #FFFFFF */
/* акцент голубой #2196F3 */
/* вторичный цвет фона #F5F4FA */
/* цвет шапка и цвет футер #2F303A */
/* цвет фона фото #EEEEEE */
/* фон подвала #2F303A */
:root {
    --primary-text-color: #212121;
    --title-text-color: #757575;
    --acent-color: #2196f3;
    --fon-color: #FFFFFF;
    --secondary-text-color: #F5F4FA;
    --picture-fon: #EEEEEE;
    --fon-future: #2F303A;
}
body {
    background-color: var(--fon-color);
    color: var(--primary-text-color);
}
.list {
    list-style: none;
}
.logo span {
    color: var(--acent-color);
}
.logo {
    color: #000000;
}
/* site-nav */
.site-nav .link {
    color: var(--primary-text-color);
}
.site-nav .link:hover, 
.site-nav .link:focus {
    color: var(--acent-color);
}
.site-nav .link.current {
    color: var(--acent-color);
}
.auth-nav .adress {
    color: var(--title-text-color);
}
.auth-nav .adress:hover,
.auth-nav .adress:focus {
    color: var(--acent-color);
}
/* Section */
.section-title {
    color: var(--primary-text-color);
}
/* job */
.job {
    color: var(--title-text-color);
}
/* button */
.button {
    color: var(--fon-color);
    background-color: var(--acent-color);
}
.list-nav:hover,
.list-nav:focus {
    color: var(--fon-color);
    background-color: var(--acent-color);
}
.button-list {
    background-color: var(--secondary-text-color);
}
/* picture-fon */
.picture-fon {
    color: var(--picture-fon);
}
/* fon future */
.fon-future {
    color: var(--fon-future);
}