.customers {
    width: 100%;
    padding-top: 94px;
    padding-bottom: 94px;


    &__clients {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        display: block;
        width: 170px;
        height: 92px;
        border: 1px solid;
        border-radius: 4px;
        color: $icon-color;
    }

    &__item:hover {
        color: $accent-color;
    }

    &__icon {
        display: block;
        fill: $icon-color;
        margin-top: 16px;
        margin-left: 32px;
        width: 106px;
        height: 60px;    
    }

    .item:hover &__icon {
        fill: $accent-color;
    }
}
